{% extends 'base.html' %}
<title>{% block title %}Receipt list || My Receipt App{% endblock %}</title>

{% block content %}
  <h1>Receipts</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date of purchase</th>
        <th scope="col">List item</th>
        <th scope="col">Total amount</th>
      </tr>
    </thead>
    <tbody>
    {% for receipt in receipts %}
      <tr>
        <td><a href="{% url 'receipt_detail' pk=receipt.pk %}">{{ receipt.name }}</a></td>
        <td>{{ receipt.date_purchase }}</a></td>
        <td>{{ receipt.item_list }}</a></td>
        <td>{{ receipt.total_amount }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <h4><a href="{% url 'receipt_new' %}">Add Receipt</a></h4>

{% endblock %}
